@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    list-style: none;
    font-family: "Mulish", sans-serif;
}

header ul li a {
    color: rgb(0, 66, 130) !important;
    font-size: 14px !important;
    margin-right: 10px;
    font-weight: 700 !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
}
#bannerSlider button{
    width: 7px !important;
    height: 7px !important;
    border-radius: 50% !important;
}
/* .description{
    text-align: center;
} */
 .form-control{
   resize: none;
 }
 [type=submit]:not(:disabled){
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    border: none;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: white;
 }
header ul li:nth-child(8) button {
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    color: white;
    border: none !important;
    padding: 8px 25px !important;
    margin-right: 10px !important;
}

header ul li:nth-child(9) button {
    border: 2px solid orange;
    background: transparent;
    color: orange;

    padding: 6px 10px;
}

.form-section {
    background-color: #306598;
}



.bookButton {
    border: none;
    padding: 7px 0px;
    border-radius: 5px;
    color: white;
    font-weight: 600;

    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
}

.h2Color{
    color: #306598;
    font-weight: bolder;
}
.projectHeading{
    color: #306598;
    font-weight: bolder;
}

.btn1{
    border: none;
    border-radius: 5px;
    color: white;
    font-weight:700;
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
}
.regInner{
    padding: 15px;
    height: 200px;
    box-shadow: 0px 0px 10px 2px #ccc;
}

.tableHeading{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: #306598;
    color: white;
}
.tableHeading p{
    margin-top: 16px;
    padding: 0px;
}
.cardInner{
    font-size: 13px;
    margin: 10px 0px;
}

.smartcityButtone{
    margin: 70px 0px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .5);
    background-image: linear-gradient(315deg, #f0af00 0%, #ffc820 74%);
    padding: 20px 80px ;
    border: none;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 20px 20px 20px 20px;
}
iframe {
    width: 100%;
     height: 340px  !important;
    
}

.accordion-item{
    border: none;
}
.accordion-button:not(.collapsed)::after{
    background-image: none;
    transform: none;
    font-weight: bolder;
    content: "-";
    font-size: 30px;  
    top: 6px;
    left: 3px;
    position: absolute;
}
.accordion-item:first-of-type>.accordion-header .accordion-button{
    position: relative;
}
.accordion-button::after{
    content: "+";
    top: 6px;
    left: 3px;
    font-size: 30px;
    position: absolute;
    font-weight: bolder;
    background-image: none;
}
.accordion-button{
    padding-left: 30px;
    border-bottom: 2px solid black;
}

.accordion-button:not(.collapsed){
    background: none;
}
.accordion-button:focus{
    box-shadow: none;
}
.imgHeigh{
    width: 100%;
    height: 180px;
}
.owl-theme .owl-dots .owl-dot span{
    display: none;
}

.outerBorder{
    padding: 20px;
    border: 6px solid #306598;
}

.bColor{
    padding: 50px;
    color: white;
    background: #306598;
}

.possitionFixed{
    position: fixed;
    top: 30%;
    right: 0px;
    z-index: 9;
}
.fixedImg a img{
    width: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.fixedImg a img:hover{
    transform: rotate(360deg);
}
.fixedImg a{
    position: relative;
}
.fixedImg a span {
    position: absolute;
    right: 6px;
    top: -6px;
    z-index: -1;
    color: black;
    padding: 4px 15px;
    background: white;
    width: 0px;
    border-radius: 20px 0px 0px 20px;
    font-size: 0px;
    overflow: hidden;
    transform: translateX(0px);
    transition:  0.5s ;

}

.fixedImg a:hover span {
   width: 200px;
   border: 1px solid black;
    font-size: 15px;
    font-weight: 600;
    /* height: auto; */
} 


.tableBgColor{
    background: #EAEAEA;
}

table tr td button{
    border: none;
    color: white;
    font-weight: 600;
    padding: 7px 30px;
    border-radius: 10px;
    background: black;
}
table tr td button i{
    color: goldenrod;
    margin-right: 10px;
}
